/*colors*/
$light-gray: #E5E5E5;
$lighter-gray: #E5E9EC;
$darker-gray: #D9D9D9;
$gray: #E6E6E6;
$dark-blue: #647A8C;
$blue: #045DA7;
$white: #fff;



$text-invert: $white;
$text-active: $blue;
$text-icon: $dark-blue;
$border-weak: $darker-gray;
$border-secondary: $white;
$border-decorate: $dark-blue;
$bg-main: $light-gray;
$bg-secondary: $white;
$bg-active: $lighter-gray;
$bg-table-th: $gray;

